@font-face {
    font-family: Quicksand;
    src: url("Quicksand-VariableFont_wght.ttf");
}

html,
body {
    /* box-sizing: border-box; */
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #EEEEEE;
    font-family: Quicksand, sans-serif;
}

header {
    background-image: url("headerpattern.svg");
    background-color: #334963;
    background-blend-mode: multiply;
    box-sizing: border-box;
    height: 56px;
    padding: 9px;
    padding-left: 19px;
    border-bottom: solid 2px #31B9E4;

}

.container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
}

.login-card {
    height: 550px;
    width: 488px;
    background-color: white;
    border-top: solid 4px #31B9E4;
    border-radius: 2px;
    padding: 20px 32px 24px 32px;
}

.login-top {
    display: flex;
    margin-bottom: 16px;
}

.login-heading {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    transform: translateX(-12px);
}

.radio-group {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

#remember,radio {
    height: 20px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

select,#username,#password{
    width:100%;
    font-family: Quicksand, sans-serif;
    padding-bottom:5px;
    padding-top:5px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-bottom: rgba(0, 0, 0, 0.12) 1px solid;
}

#remember input:checked ~ .mark  {
    background-color:#3FD28B !important;
  }

.radio-group>img {
    margin-right: 8px;
}

.radio-group>p {
    margin-right: 32px;
}

.dropdown-group {
    margin-bottom: 32px;
}

.dropdown-group>.label {
    font-size: 12px;
    color: #666666;
}

.dropdown-input {
    display: flex;
    border-bottom: rgba(0, 0, 0, 0.12) 1px solid;
}

.dropdown-input>p {

    margin: 5px auto 5px 0;
    font-size: 16px;
    font-weight: 600;

}

.dropdown-input>img {
    margin-left: auto
}

.username-input {
    margin-top: 56px;
    margin-bottom: 34px;
}

.text-input-group>p {
    font-size: 16px;
    font-weight: 600;
    color: #666666;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    margin: 0px 0px 5px 0px;
}

.input-action {
    display: flex;
    justify-content: end;
    font-size: 14px;
    font-weight: 600;
    color: #1F7A54;
    margin-right: 0px;
}

.password-flex {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    margin-bottom: 5px;
}

.password-flex>p {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #666666;
}


.password-flex>img {
    margin-left: auto;
}

.remember-group {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit>button {
    margin-top: 8px;
    margin-bottom: 24px;
    font-family: Quicksand;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 215px;
    background-color: #3FD28B;
    font-size: 14px;
    font-weight: 600;
    border: none;
    box-shadow: 0px 3px 5px #0000003D;
}

.links {
    margin-top: 32px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #1F7A54;
}

footer {

    height: 40px;
    display: flex;
    background-color: #E0E1E1;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

footer>img {
    margin-right: 16px;
}


.copyright {
    font-weight: 600px;
    margin-left: 16px;
    margin-right: 8px;
}

.company {
    font-size: 12px;
    font-weight: 900px;
    margin-right: 11px;
}

@media only screen and (min-height: 814px) {
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .links {

        position: fixed;
        left: 0;
        bottom: 40px;
        width: 100%;
    }

}